.LoginTop{
    height: 40px;
    width: 100%;
    background-color:#682E8B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginTopHeading{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffff;
}

.LoginMiddle{
    display: flex;
    height: 87.25vh;
    width: 100%;
    background-color: #fff;
}

.LoginComponent{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%; 
}

.LoginCard{
    width: 50%;
    border: 1px solid #682E8B;
    display: flex;
    align-items: center; 
    flex-direction: column;
    border-radius: 5px;
}


.InputField{
    height: 40px;
    width: 300px;
    padding-left: 10px;
    border: 1px solid grey;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    margin-bottom: 5px;
}

.InputField:focus{
    outline: none;
}

.InputField::placeholder{
    font-size: 18px;
    color: grey;
    font-family: 'Roboto', sans-serif;
}

.LoginHeading{
    font-size: 36px;
    font-weight: bold;
    color: #682E8B;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.Btn{
    height: 45px;
    width: 120px;
    color: white;
    background-color: #682E8B;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 30px;
    border: none;
}

.SignUp{
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.Hyperlink{
    text-decoration: none;
    color: #682E8B;
}

.LoginImg{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginImage{
    height: 100%;
    width: 110%; 
}

.LoginBottom{
    height: 40px;
    width: 100%;
    background-color:#682E8B;
}

.ErrorMsg{
    font-family: 'Roboto', sans-serif;
    color: red; 
    margin-left: 5px;
}

input.ng-invalid{
    border-left: 5px solid #682E8B
}

input.ng-valid{
    border-left: 5px solid green;
}

.Btn:disabled{
    color: lightgray;
    background-color: #72438f;
    outline: none;
    cursor: not-allowed;
}

.InputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

  